/*rimuovo i margini prefdefiniti dal browser*/
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MyWebFont';
    src:  url('./fonts/pixeloidmono-d94ev-webfont.woff') format('woff'),
          url('./fonts/pixeloidmono-d94ev-webfont.woff2') format('woff2');
 }

/*Imposto dei colori e font principali da utilizzare per tutto il sito*/
:root{
    --headerBgColor:rgb(229, 226, 218);
    --headerTxtColor: rgb(101, 67, 33);
    --bgColor: rgb(229, 226, 218);
    --txtColor: black;
    --footerBgColor:rgb(101, 67, 33);
    --footerTxtColor: white;
    --visitedLinkColor: rgb(226, 158, 11);
    --linkColor: rgb(101, 67, 33);
    --flagColor: rgb(101, 67, 33);
    --bordersColor: white;
    --font-body-family:"roboto Condensed", sans-serif;
    --font-header-family: "" ;
   
    /* --blue:rgb(55, 127, 199);
    --marrone:rgb(101,67,33);
    --verde:rgb(74, 155, 96);
    --rosso:rgb(165, 29, 29);
    --giallo:rgb(230, 210, 59);
    --arancio:rgb(226, 158, 11);
    --marrone_rosa:rgb(188,143,143);*/
} 

html{
    font-size: 100%; /*rispetto le dimensioni scelte dall'utente*/
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;/*per centrare un elemento*/
    background-color: var(--bgColor);
}

/*per mettere il footer in fondo alla pagina, rompe completamente il float*/
/*
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*/ /*100vh vuol dire 100% del dispositivo*/

/********************************
*HEADER
********************************/

header{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    /* font-family: var(--font-header-family); */
    font-family:'MyWebFont';
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20%;
}

header h1{
    color:var(--flagColor);
    font-size:4em;
    line-height: 1.5em;
    margin-left: 40%;
    text-align: left;
    font-weight: bold;
    padding-top: 0.2em;
}

/********************************
*NAV
********************************/
#breadcrumb{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    padding-left: 1em;
    padding-bottom: 1em;
    border-bottom:2px solid var(--bordersColor);
}

#breadcrumb p{
    margin-left:10%;
}

/******************************
*MENU DI CAZZO PROVA PORCO
*******************************/

#menu{
    margin:auto;
}

#menu li{
    display: inline-block;
    text-align: left;
    
    width: 20%;
    background-image: url(./images/menu_key/menu_key.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family:'MyWebFont';
    
    
    
}


#menu a{
    text-decoration: none; /* 移除下划线 */
    color: inherit; /* 继承普通文本的颜色 */
}

.menu_text{
    font-size: 1.2em;
    display: block;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 1.4em;
    
    
    
    /* mix-blend-mode: difference; */
    
}

#menu li:hover{
    background-image: url(./images/menu_key/menu_key_hover.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/********************************
*MAIN
********************************/

main{
    color: var(--txtColor);
    padding: 1.0em;
    margin:auto;
    width:80%;
}

main h2{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 2em;
}

main h3{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

main a:link{
    color:var(--linkColor)
}

main a:visited{
    color: var(--visitedLinkColor);
}


/********************************
*FOOTER
********************************/

footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    text-align: center;
    padding: 1em;
    margin-top: auto;
}

/********************************
*PRODOTTI
********************************/
#Prodotti{
    margin:auto;
    width:95%;
    max-width: 1024px;
    padding-top: 1em;
    padding-bottom: 2em;
}

#Prodotti>dt{
    background-color: var(--headColor);
    color: var(--txtColor);
    border:1px solid black;
    padding:0.5em;
    font-size: 1.1em;
}

#Prodotti>dd{
    background-color: var(--bgColor);
    border: 1px solid black;
    border-top: none;
    padding: 0.5em;
    margin-bottom: 1em;
}

#Prodotti>dd img{
    width:15%;
    float: left;
    margin-right: 1em;
}

.prodotto dt{
    float: left;
    font-weight:bold;
}

/********************************
*DISCOGRAFIA
********************************/   
#album {
    list-style-type: none;/*rimuovo i pallini*/
    text-align: center;
}

#album li{
    display: inline-block;
    padding: 2em;
}

#album li img{
   width:20em;
}



th time span{
    font-weight: bold;
}

